@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Exo 2", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  display: flex;
  gap: 27rem;
  flex-direction: row;
}

.clock {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.single-clock {
  font-size: 6.2rem;
}

.city {
  font-size: 2.4rem;
}

.time-icon {
  display: none;
}
