* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  display: flex;
  gap: 6rem;
}

.clock {
  font-size: 4rem;
}
